.max_width{
    width: 100%;
}

.ninety_width{
    width: 90%;
}

.eighty_width{
    width: 80%;
}

.max_height{
    height: 100%;
}

.ninety_height{
    height: 90%;
}

.eighty_height{
    height: 80%;
}

.start_row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.end_row{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.center_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.space_between_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.space_around_row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.space_evenly_row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.start_col{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.end_col{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.center_col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.space_between_col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.space_around_col{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.space_evenly_col{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.divider{
    width: 98%;
    height: 1px;
    background-color: #bababa;
}